@model ICollection< ApplicationUserAllModel>


@{
    ViewData["Title"] = "All users";
}

<hr />

<div class="row text-center">
    @foreach (var e in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card h-100 transparent-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">User Name: @e.UserName</h5>
                    <p class="card-text">First Name: @e.FirstName</p>
                    <p class="card-text">Last Name: @e.LastName</p>

                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        <a asp-controller="ApplicationUser" asp-action="Details" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-1 fw-bold">All fish</a>
                    }              
               </div>
            </div>
        </div>
    }
</div>  