html {
   
}


@media (min-width: 768px) {
  html {
    font-size: 17px;
  }

    body {
        margin-bottom: 60px;
        color: rgb(104, 186, 181);
        background-image: url('../img/bass 780x840.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: soft-light;
        background-color: rgb(0, 0, 0, 0.70);
    }


}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;

   
}

body {
    margin-bottom: 60px;
    color: rgb(104, 186, 181);
    background-image: url('../img/bass 2560x1400.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: rgb(0, 0, 0, 0.70);
   
}

/*navbar-brand  {
    color: rgb(104, 186, 181);
}

    .navbar-brand:hover {
        color: rgb(124, 196, 230);
    }*/
