

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:20rem">
    <h1 class="display-4 font-LoveYa">Welcome To Fishing Events</h1>
</div>



@section Scripts {
    <script src="~/js/bubbleanimation.js"></script>
}
