@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-LoveYa">Welcome To Fishing Events</h1>

    @section Scripts {       
    <script src="~/js/bubbleanimation.js"></script>
    }
